html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
    margin: 0px auto;
}
body{
    background-color:  hsl(47, 88%, 63%);
    font-family: 'Figtree', sans-serif;
}
.card-container{
    align-items: center;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 8px 8px black;
    height: 508px;
    justify-content: center;
    margin: 50px 0 10px 510px;
    padding: 15px;
    width: 350px;

}

.card-image{
    border-radius: 10px;
    margin: 9px 10px;
}

.card-details{
    margin-left: 12px;
}

.learning-text{
    background-color: hsl(47, 88%, 63%);
    border-radius: 7px;
    font-weight: 800;
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 7px;
    text-align: center;
    width: 70px;
}

.publishing{
    font-size: 15px;
    font-weight: 100;
    margin-bottom: 20px;
}

.card-header{
    font-size: 35px;
    font-weight: 800;
    font-size: 25px;
    height: 30px;
    margin-bottom: 15px;
}

.card-para-info{
    color: hsl(0, 0%, 50%);
    line-height: 1.5;
}

footer{
    display: flex;
}

.sm-footer-img{
    height: 35px;
    margin: 30px 0 0 15px;
}

.name{
    font-size: 15px;
    font-weight: 800;
    margin: 42px 10px;
}
